@CHARSET "ISO-8859-1";
textarea {
    resize: none;
}
#transparentBox {
    visibility: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
    width:100%;
    height:auto;
    z-index: 1000;
    opacity: 0.9;
    filter:alpha(opacity=80); /*for ie browser*/
    background-color: #000000;
}
#resultContainer {
    opacity:1;
    display: block;
    width: 1100px;
    margin: 0px auto;
}
.outputBox {
    border:1px #777777 inset;
    padding-left: 3px;
    padding-top: 4px;
}
.lineNumber {
    width: 20px;
    background: #aaa;
    font-size: 10px;
    font-family: "Courier New";
}
.lineText {
    width: 420px;
    font-size: 11px;
    font-family:sans-serif;
}
#outputBox2 {
    float: right;
    margin-left: 0px;
    margin-right: 20px;
    display: block;
}
#outputBox1 {
    display: block;
}
.equal {
    background-color: #e6e6fa;
}
.change {
    background-color: #c2ccd1;
}
.deletedText {
    background-color:red;
}
.addedText {
    background-color: green;
}
.addedEmpty {
    height: 3px;
    background-color: #000000;
}
.deletedEmpty {
    height: 3px;
    background-color: #000000;
}
#lineSpace {
    height: auto;
    margin: 0 auto;
    float: left;
    width:150px;

}
